/************************ utilities ************************/
* {
  font-family: "Montserrat", sans-serif;
}
h2,
h3 {
  text-transform: uppercase;
}
p {
  padding: 0;
  margin: 0;
}
.w-80 {
  width: 80%;
}
.max-w {
  max-width: 1140px;
}
.bg-lightgreen {
  background-color: #1abc9c;
}
.row-gap-4 {
  row-gap: 1.5rem;
}
button {
  transition: 0.3s;
}
button:hover {
  transform: scale(1.05);
}
/* a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: inherit;
  text-decoration: underline;
} */
.line {
  height: 4px;
}

/************************ header ************************/
header {
  text-transform: uppercase;
}
/* top-header */
#top-header {
  background-color: #2c3e50;
}
/* #top-header button {
  border: 1px solid white;
  margin-right: 0.75rem;
} */

/* jumbo-tron */
#jumbo-tron img {
  width: 300px;
}

/************************ main ************************/
/* contact */
/* .form {
  padding: 0.5rem 0 8rem;
} */

/* about */
/* #about a:hover {
  transform: scale(1.05);
  text-decoration: none;
} */

/************************ footer ************************/
#general-info {
  background-color: #3a546d;
}
#general-info a {
  color: #1abc9c;
  text-decoration: none;
}
#general-info a:hover {
  text-decoration: underline;
}
#general-info a.col-auto {
  color: white;
  font-size: 1.1rem;
  border: 1px solid white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin: 0 0.25rem;
}
#copyright {
  background-color: #2c3e50;
}
